body {
    background: #eee;
    font-family: 'Noto Sans KR';
}

#wrap {
    width: 100%;
    height: 100%;
}
.container {
    width: 1130px;
    margin: 0 auto;
    position: relative;
}
.todo-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 54px;
}
.btn-wrap {
    /* width: 78px;
    height: 34px; */
    display: flex;
    justify-content: flex-end;
}
.btn-wrap .btn {
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    padding: 5px 24px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.addBtn {

}
.delBtn {
    margin-left: 10px;
}

.cardWrap {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 40px;
    margin-top: 16px;
    margin-bottom: 50px;
}

.todo-box { 
    width: 350px;
    height: 430px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
    /* overflow: hidden; */
}

#titleSpace {
    margin-top: 32px;
    border: none;
    font-size: 22px;
    color: #000;
}
.currentDate {
    font-size: 14px;
    color: #ccc;
    margin-left: 20px;
}
.n-task {
    font-size: 12px;
    color: #69d1a2;
    /* margin-top: 27px;
    margin-left: 20px;
    margin-bottom: 18px; */
    margin: 27px 0 18px 20px;
}
hr {
    /* margin: 18px 0 26px; */
}
.list-wrap {
    width: 100%;
    height: 280px;
    padding-top: 10px;
    overflow: scroll;
}
.list {
    margin: 10px 0;
}
.list:hover {
    background-image: url(../img/Trash.jpg);
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 20px;
    cursor: pointer;
}
input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 1px #ccc;
    appearance: none;
    margin-left: 20px;
    cursor: pointer;
    vertical-align: top;
}
input[type="checkbox"]:checked {
    border: solid 1px #69d1a2;
    color: #ccc;
    background: no-repeat center/60% url("../img/check.png");
}
input:checked + label {
    color: #ccc;
}

label {
    font-size: 16px;
    cursor: pointer; 
}

/* input[type="checkbox"] + label{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 1px #ccc;
    position: relative;
    margin-left: 20px;
  }
input[id="chk1"]:checked + label::after{
    content:'';
    width: 24px;
    height: 24px;
    text-align: center;
    background: no-repeat center/60% url("../img/check.png");
    position: absolute;
    border: solid 1px #69d1a2;
    border-radius: 50%;
    left: -1px;
    top: -1px;
  }

} */
.input-form {
    width: 350px;
    height: 90px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%; top: 90%;
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px; 
    z-index: 10;
    display: none;
    
}
.input-form.block {
    display: block;
}
input[id="inputBox"] {
    
}
#inputBox {
    width: 290px;
    height: 36px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%; top: 40%;
}

#inputBox::placeholder {
    color: #a1a1a1;
    font-size: 12px;
}

.todo-btn {
    position: absolute;
    display: inline-block;
    transform: translate(-50%, -50%);
    top: 100%; left: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #69d1a2;
    color: #fff;
    font-weight: 100;
    text-align: center;
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    z-index: 20;
}
.todo-btn::after {
    content: "+";
    font-size: 50px;
    line-height: 45px;
    
}
.todo-btn.rotate {
    background-color: #ef8d8a;
    transform: rotate(45deg);
}

@media (max-width: 720px){
    .container {
        width: 690px;
    }
    .todo-title {
        margin-top: 44px;
        margin-bottom: 48px;
    }
    .btn-wrap .btn {
        font-size: 28px;
        padding: 11px 48px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
    }
    .delBtn {
        margin-left: 20px;
    }
    .cardWrap {
        display: grid;
        grid-template-columns: repeat(1, 690px);
        gap: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .todo-box { 
        width: 100%;
        height: 740px;
    }
    #titleSpace {
        margin-top: 20px;
        font-size: 32px;
        color: #000;
    }
    .currentDate {
        font-size: 24px;
        
    }
    .n-task {
        font-size: 24px;
        font-weight: bold;
        color: #69d1a2;
        margin-top: 18px;
    }
    input[type="checkbox"] {
        width: 34px;
        height: 34px;
        appearance: none;
        /* vertical-align: top; */
    }
    .list-wrap {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }
    .list {
        margin: 30px 0px;
    }
    .list::after {
        content: "";
        background-image: url(../img/Trash_m.jpg);
        background-position: right;
        background-repeat: no-repeat;
        margin-right: 20px;
        cursor: pointer;
    }
    .list:hover {
        /* display: none; */
    }
    label {
        font-size: 28px;
        margin-left: 20px;
    }

    .input-form {
        width: 100%;
        height: 203px;
        display: block;
        
    }
    #inputBox {
        width: 575px;
        height: 74px;
    }
    
    #inputBox::placeholder {
        
        font-size: 28px;
    }
    .todo-btn {
        display: none;
    }

}


